{% extends 'base.html' %}
{% block tittle%}
Home
{% endblock tittle%}
<link rel="stylesheet" href="css/style.css" type="text/css">
{% block body%}
  <link rel="preconnect" href="https://fonts.gstatic.com">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/spage.css" type="text/css">
      <br></br>
      <div>
        <center><img src="static/plogo.jpg"alt="..." width="300" height="250"></center>
        <br></br>
        <form action="login">
        <center><button class="submit" role="button">Login</button></form>
        <br></br>
        <form action="signup"><button type="submit" role="button">Signup</button></form>
      </div>
{% endblock body%}
